$grey: #445162;
$lightgrey: #f5f5f5;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    color: #ffffff;
    background-color: $grey;
    justify-content: space-between;
    margin: 0 0 50px 0;
}

.header-title {
    padding: 50px 0 0 50px;
    margin: 0 0 31px 0;
    font-size: 59px;
    font-weight: normal;
    line-height: 0.8;
}

.header-list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 90px;
    margin: 0 0 50px 0;
}

.header-item {
    position: relative;
    font-size: 20px;
    line-height: 1.8;
    text-align: left;
}

.header-item:before {
    width: 25px;
    min-height: 19px;
    position: absolute;
    content: '';
    top: 5px;
    left: -20px;
    background: url('../img/approval.svg') no-repeat;
    background-size: 19px 25px;
}

.header-img {
    margin: 50px 50px 0 0;
}

.about {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.about-about {
    width: 650px;
}

.about-title {
    font-size: 30px;
    color: $grey;
    margin: 0 0 30px 50px;
}

.about-text {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    margin: 0 0 20px 50px;
}

.about-video {
    margin: 0 50px 50px 0;
    outline: none;
}

.dignity {
    background-color: $lightgrey;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.dignity-title {
    display: block;
    text-align: center;
    font-size: 30px;
    font-family: "Arial";
    color: rgb(68, 81, 97);
    line-height: 1.2;
    margin: 0 0 24px 0;
}

.dignity-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.dignity-list-item {
    margin: 0 0 40px 0;
    width: 50%;
}

.dignity-list-text {
    margin: 0;
    padding: 0 0 0 46px;
    position: relative;
    color: #333333;
    font-size: 16px;
}

.dignity-list-item:nth-child(5),
.dignity-list-item:nth-child(6) {
    margin: 0;
}

.dignity-list-text:before {
    content: "+";
    display: block;
    width: 32px;
    min-height: 32px;
    background-color: #445161;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 5px;
    left: 7px;
  }

  .screen {
      padding: 50px;
  }

  .screen-title {
    text-align: center;
    color: $grey;
    line-height: 1.2;
    font-size: 30px;
    margin: 0 0 35px 0;
  }

  .screen-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  .screen-item {
    width: 50%;
    display: flex;
  }

  .screen-item:nth-child(1),
  .screen-item:nth-child(2) {
    margin-bottom: 30px;
  }

  .screen-fill {
      margin-left: 15px;;
      width: 359px;
  }

  .screen-item-title {
    font-size: 24px;
    line-height: 1.25;
    color: $grey;
    margin: -5px 0 15px 0;
  }

  .screen-item-text {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
  }

.reviews {
    padding: 50px;
    background-color: $lightgrey;
}

.reviews-title {
    text-align: center;
    color: $grey;
    line-height: 1.2;
    font-size: 30px;
    margin: 0 0 35px 0;
}
.reviews-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

}

.reviews-item {
    width: 50%;
    display: flex;
}

.reviews-item:nth-child(2),
.reviews-item:nth-child(4) {
    padding-left: 15px;
    box-sizing: border-box;
}

.reviews-item:nth-child(1),
.reviews-item:nth-child(2) {
    margin-bottom: 24px;
}

.reviews-img {
    margin: 0 16px 0 0;
    border-radius: 50%;
}

.reviews-fill {
    width: 483px;
    min-height: 121px;
    background-image: url('../img/reviews-bg.png');
}

.reviews-item-text {
    width: 450px;
    padding: 15px 20px 12px 26px;
    font-size: 14px;
    font-style: italic;
    line-height: 1.29;
    color: #333333;
}

.reviews-item-name {
    margin: -5px 380px 10px 25px;
    font-size: 14px;
    line-height: 1.29;
    color: #989898;
}

.cards {
    padding: 50px;
}

.cards-title {
    text-align: center;
    color: $grey;
    line-height: 1.2;
    font-size: 30px;
    margin: 0 0 30px 0;
}

.cards-levels {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.cards-standart {
    background-color: #445161;
    border-radius: 5px;
}

.cards-standart-title {
    font-size: 24px;
    line-height: 1.25;
    color: #ffffff;
    text-align: center;
    padding-top: 16px;
    margin-bottom: 13px;
}

.cards-price {
    min-height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid $grey;
    font-size: 40px;
    line-height: 0.75;
    color: #445162;
    margin-bottom: 20px;
}

.cards-about {
    margin: 0 0 19px 40px;
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
}

.cards-button {
    outline: none;
    margin: 0 20px 20px 20px;
    width: 260px;
    min-height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #445161;
    border: none;
    text-transform: uppercase;
}

.cards-button:hover,
.cards-button:focus {
    opacity: 0.7;
}

.cards-button:active {
    color: green;
    opacity: 0.8;
}

.cards-premium {
    background-color: $grey;
    border-radius: 5px;
}

.cards-lux {
    background-color: $grey;
    border-radius: 5px;
}

.lux-about li:nth-child(10),
.lux-about li:nth-child(11),
.lux-about li:nth-child(12) {
    margin-left: 7px;
}

.footer {
    padding: 50px 0 0 0;
    background-color: $grey;
}

.footer-title {
    font-size: 30px;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
    margin: 0 0 31px 0;
}

.footer-sendinfo {
    display: flex;
    justify-content: center;
}

.send {
    display: flex;
    flex-direction: column;
    margin-right: 64px;
}

.textemail {
    width: 500px;
    min-height: 40px;
    border: none;
    border-radius: 5px;
}

input {
    outline: none;
}

.input-form {
    margin: 0 0 21px 0;
    font-size: 16px;
    color: $grey;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
}

.input-textarea {
    outline: none;
    font-size: 16px;
    color: $grey;
    padding: 13px 10px 0 10px;
    margin-bottom: 21px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    resize: none;
}

.input-button {
    width: 140px;
    min-height: 40px;
    border-radius: 5px;
    margin-left: 180px;
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #445162;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.input-button:hover,
.input-button:focus {
    opacity: 0.7;
}

.input-button:active {
    color: green;
    opacity: 0.8;
}

.footer-info-list {
    position: relative;
    display: flex;
    flex-direction: column;;
    justify-self: start;;
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}

.footer-info-item {
    margin-bottom: 29px;
    position: relative;
}

.footer-info-item:before {
    width: 24px;
    height: 24px;
    position: absolute;
    content: '';
    top: 0;
    left: -30px;
    background-size: 19px 25px;
}

.skype:before {
    background: url('../img/skype_icon.png') no-repeat;
    height: 26px;
}

.icq:before {
    background: url('../img/icq_icon.png') no-repeat;
    width: 26px;
    height: 26px;
}

.mail:before {
    background: url('../img/email_icon.png') no-repeat;
}

.phone:before {
    background: url('../img/phone_icon.png') no-repeat;
}

.copyright {
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.3px;
    color: $grey;
}